In [3]:
import pandas as pd

In [9]:
df = pd.read_excel('LOST TIME_Aug_-22.xlsx')

In [10]:
df

,Unnamed: 0,Cause,Company Name,Cummulative Hrs,Date and Time,Depth,LT ID,LT Summary,LT Type,Object,Parent LT ID,Report Date,Rig Name,Time in Hrs,Well No
0,0,Cause,Resp Co,Cum. Hrs,From - To,Depth,LT ID,LT Summary,Type,Object,Parent LT ID,08/01/2022,088TE,Hrs,QTIF-330
1,1,FOT,WEP,33.5,31 Jul 1930 - 0500,5926,900302,"UNABLE TO RUN 4-1/2"" HALLIBURTON COMPLETION S...",TF,CPCH,,08/01/2022,088TE,24,QTIF-330
2,2,Cause,Resp Co,Cum. Hrs,From - To,Depth,LT ID,LT Summary,Type,Object,Parent LT ID,08/01/2022,ADC-29,Hrs,NYYM-100
3,3,FPMP,RIG,2,01 Aug 0900 - 1100,9336,900331,"WHILE DRILLING OBSERVE PRESSURE DROP, FOUND L...",RR,MPMP,,08/01/2022,ADC-29,2,NYYM-100
4,4,Cause,Resp Co,Cum. Hrs,From - To,Depth,LT ID,LT Summary,Type,Object,Parent LT ID,08/01/2022,ADC-31,Hrs,SDGM-1181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3602,3602,FOT,BLH,26.5,30 Aug 1630 - 0430,14125,901436,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER...",TF,HGRL,,08/31/2022,SSA-303,14,HRDH-2411
3603,3603,Cause,Resp Co,Cum. Hrs,From - To,Depth,LT ID,LT Summary,Type,Object,Parent LT ID,08/31/2022,SSA-5820,Hrs,MSBA-1
3604,3604,FOT,RIG,9,30 Aug 0030 - 0930,1414,901519,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...,RR,CRN,,08/31/2022,SSA-5820,4.5,MSBA-1
3605,3605,Cause,Resp Co,Cum. Hrs,From - To,Depth,LT ID,LT Summary,Type,Object,Parent LT ID,08/31/2022,SSA-5892,Hrs,AWTD-141400
3606,3606,FOT,RIG,144.5,25 Aug 1330 - 0500,14481,901352,AFTER MAKING CONNECTION PIPE BECAME STUCK,DSF,STRG,,08/31/2022,SSA-5892,23.5,AWTD-141400