In [3]:
import pandas as pd

In [4]:
df = pd.read_excel('LT 08_22_clean_data.xlsx')

In [6]:
df = df.drop(['seq'],axis=1)

In [7]:
df

,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,08/01/2022,088TE,QTIF-330,WEP,31 Jul 1930 - 0500,24,33.5,900302,,TF,FOT,CPCH,5926,"UNABLE TO RUN 4-1/2"" HALLIBURTON COMPLETION S..."
1,08/01/2022,ADC-29,NYYM-100,RIG,01 Aug 0900 - 1100,2,2,900331,,RR,FPMP,MPMP,9336,"WHILE DRILLING OBSERVE PRESSURE DROP, FOUND L..."
2,08/01/2022,ADC-31,SDGM-1181,RIG,12 Jul 1930 - 0500,24,444.5,899623,,STUK,STDP,DP,14234,TDS TRIPPED AND LOST RPM CAUSING STUCK PIPE.
3,08/01/2022,ADC-41L,SDGM-1244,ARM,19 Jul 0500 - 0500,24,289.5,900095,,LCIR,UVLC,NA,9010,"TOTAL LOSSES AT DEPTH OF 9,010 FT - UNCURABLE..."
4,08/01/2022,ADC-43L,UTMN-3118,TK3,30 Jul 0115 - 0500,22.75,50.5,900352,,LCIR,FRFM,NA,12637,WHILE DRILLING LOST COMPLETE RETURNS IN KHUFF...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,08/31/2022,SND-2009,SAHB-101,RIG,31 Aug 2330 - 0100,1.5,1.5,901553,,RR,FOT,TDS,2520,TDS HAS HYDRAULIC OIL LEAK HUGE AMOUNT. HYDRA...
1360,08/31/2022,SP-125,ANDR-20,EMC,31 Aug 1430 - 2330,9,9,901441,,MUD,SMDF,SCS,4598,"ATTEMPT TO PUMP, STRING PLUGGED"
1361,08/31/2022,SSA-303,HRDH-2411,BLH,30 Aug 1630 - 0430,14,26.5,901436,,TF,FOT,HGRL,14125,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER..."
1362,08/31/2022,SSA-5820,MSBA-1,RIG,30 Aug 0030 - 0930,4.5,9,901519,,RR,FOT,CRN,1414,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...
1363,08/31/2022,SSA-5892,AWTD-141400,RIG,25 Aug 1330 - 0500,23.5,144.5,901352,,DSF,FOT,STRG,14481,AFTER MAKING CONNECTION PIPE BECAME STUCK

In [14]:
duplicateRows = df[df.duplicated(keep='last')]

In [15]:
print(duplicateRows)

     Report Date  Rig Name    Well No Company Name       Date and Time  \
5     08/01/2022    ADC-50  SFNY-1176          RIG  01 Aug 1915 - 2345
11    08/01/2022   ADES-14   HWYH-536          OTH  01 Aug 0300 - 0500
20    08/01/2022   ENS-108  ZULF-2014          SRT  01 Aug 0215 - 0500
27    08/01/2022  NBR-263S   QTIF-736          ARM  01 Aug 0400 - 0500
33    08/01/2022      PN-9   MRJN-673          HCM  01 Aug 0015 - 0145
...          ...       ...        ...          ...                 ...
1307  08/30/2022  NBR-263S   QTIF-736          NRC  30 Aug 0145 - 0500
1314  08/30/2022  SINO-37L   HWYH-114          RWC  30 Aug 2100 - 0500
1320  08/30/2022     SP-58   HRDH-795          RIG  30 Aug 1100 - 1400
1351  08/31/2022  SINO-37L   HWYH-114          RWC  31 Aug 1130 - 1900
1354  08/31/2022  SND-1501    HWYH-89          RIG  31 Aug 2330 - 0500

     Time in Hrs Cummulative Hrs    LT ID Parent LT ID LT Type  Cause  Object  \
5            4.5             4.5   900346                   RR    FOT    RSYS
11             2               2   900344                  WON   WTHR      NA
20          2.75            2.75   900362                  BHA    FOT      RM
27             1               1   900349                 WCNT   WC20      NA
33           1.5             1.5   900377       899983      TF    FOT    PUMP
...          ...             ...      ...          ...     ...    ...     ...
1307        3.25            3.25   901518                   TF    FOT     CRT
1314           8               8   901522                   WO   MATL      NA
1320           3               3   901496                   RR    FOT   KELLY
1351         7.5             7.5   901549                   TF    FOT    WTSE
1354         5.5             5.5   901552                   RR    FOT    CSYS

       Depth                                         LT Summary
5       2400      UNABLE TO BREAK CONNECTION BETWEEN TDS AND DP
11         0           STOPPED TRIPPING DUE TO HIGH WIND SPEED.
20         0   ATTEMPTED TO FUNCTION TEST RHINO REAMER, TEST...
27     13970   FLOW CHECK WHILE R/U WL HAD A SLIGHT FLOW, SH...
33      5380   HALLIBURTON CEMENT UNIT MALFUNCTION, RESET SO...
...      ...                                                ...
1307     740   OBSERVE NAPESCO CRT HYD HOSES LEAKING, FIX SAME.
1314       0   WHEN SEND DE-SANDER FOUND MISSING OF SURFACE ...
1320       0   OBSERVED LEAK IN KELLY HOSE WHILE STANDPIPE P...
1351       0   WASH OUT OF HYDRAULIC HOSE BETWEEN ESD CONTRO...
1354    6813                   STAND PIPE ISOLATION VALVE LEAK

[110 rows x 14 columns]

In [16]:
df_dropped = df.drop_duplicates(keep='first')

In [17]:
df_dropped

,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,08/01/2022,088TE,QTIF-330,WEP,31 Jul 1930 - 0500,24,33.5,900302,,TF,FOT,CPCH,5926,"UNABLE TO RUN 4-1/2"" HALLIBURTON COMPLETION S..."
1,08/01/2022,ADC-29,NYYM-100,RIG,01 Aug 0900 - 1100,2,2,900331,,RR,FPMP,MPMP,9336,"WHILE DRILLING OBSERVE PRESSURE DROP, FOUND L..."
2,08/01/2022,ADC-31,SDGM-1181,RIG,12 Jul 1930 - 0500,24,444.5,899623,,STUK,STDP,DP,14234,TDS TRIPPED AND LOST RPM CAUSING STUCK PIPE.
3,08/01/2022,ADC-41L,SDGM-1244,ARM,19 Jul 0500 - 0500,24,289.5,900095,,LCIR,UVLC,NA,9010,"TOTAL LOSSES AT DEPTH OF 9,010 FT - UNCURABLE..."
4,08/01/2022,ADC-43L,UTMN-3118,TK3,30 Jul 0115 - 0500,22.75,50.5,900352,,LCIR,FRFM,NA,12637,WHILE DRILLING LOST COMPLETE RETURNS IN KHUFF...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,08/31/2022,SND-2009,SAHB-101,RIG,31 Aug 2330 - 0100,1.5,1.5,901553,,RR,FOT,TDS,2520,TDS HAS HYDRAULIC OIL LEAK HUGE AMOUNT. HYDRA...
1360,08/31/2022,SP-125,ANDR-20,EMC,31 Aug 1430 - 2330,9,9,901441,,MUD,SMDF,SCS,4598,"ATTEMPT TO PUMP, STRING PLUGGED"
1361,08/31/2022,SSA-303,HRDH-2411,BLH,30 Aug 1630 - 0430,14,26.5,901436,,TF,FOT,HGRL,14125,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER..."
1362,08/31/2022,SSA-5820,MSBA-1,RIG,30 Aug 0030 - 0930,4.5,9,901519,,RR,FOT,CRN,1414,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...
1363,08/31/2022,SSA-5892,AWTD-141400,RIG,25 Aug 1330 - 0500,23.5,144.5,901352,,DSF,FOT,STRG,14481,AFTER MAKING CONNECTION PIPE BECAME STUCK

In [19]:
df.to_excel('LT dropped Jan_to_Aug_22.xlsx')

In [20]:
df_all = pd.read_excel("LT Jan_to_Aug_22_Charts.xlsx")

In [21]:
df_all

,Seq,Report Date,Month,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,0,01/01/2022,Jan,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10.0,10.0,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...
1,1,01/01/2022,Jan,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3.0,3.0,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...
2,2,01/01/2022,Jan,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12.0,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED
3,3,01/01/2022,Jan,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18.0,18.0,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.
4,4,01/01/2022,Jan,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951,8951,08/31/2022,Aug,SND-2009,SAHB-101,RIG,31 Aug 2330 - 0100,1.5,1.5,901553,,RR,FOT,TDS,2520,TDS HAS HYDRAULIC OIL LEAK HUGE AMOUNT. HYDRA...
8952,8952,08/31/2022,Aug,SP-125,ANDR-20,EMC,31 Aug 1430 - 2330,9.0,9.0,901441,,MUD,SMDF,SCS,4598,"ATTEMPT TO PUMP, STRING PLUGGED"
8953,8953,08/31/2022,Aug,SSA-303,HRDH-2411,BLH,30 Aug 1630 - 0430,14.0,26.5,901436,,TF,FOT,HGRL,14125,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER..."
8954,8954,08/31/2022,Aug,SSA-5820,MSBA-1,RIG,30 Aug 0030 - 0930,4.5,9.0,901519,,RR,FOT,CRN,1414,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...
8955,8955,08/31/2022,Aug,SSA-5892,AWTD-141400,RIG,25 Aug 1330 - 0500,23.5,144.5,901352,,DSF,FOT,STRG,14481,AFTER MAKING CONNECTION PIPE BECAME STUCK

In [22]:
df_all.drop('Seq', axis=1, inplace=True)

In [23]:
df_all

,Report Date,Month,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,01/01/2022,Jan,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10.0,10.0,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...
1,01/01/2022,Jan,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3.0,3.0,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...
2,01/01/2022,Jan,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12.0,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED
3,01/01/2022,Jan,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18.0,18.0,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.
4,01/01/2022,Jan,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951,08/31/2022,Aug,SND-2009,SAHB-101,RIG,31 Aug 2330 - 0100,1.5,1.5,901553,,RR,FOT,TDS,2520,TDS HAS HYDRAULIC OIL LEAK HUGE AMOUNT. HYDRA...
8952,08/31/2022,Aug,SP-125,ANDR-20,EMC,31 Aug 1430 - 2330,9.0,9.0,901441,,MUD,SMDF,SCS,4598,"ATTEMPT TO PUMP, STRING PLUGGED"
8953,08/31/2022,Aug,SSA-303,HRDH-2411,BLH,30 Aug 1630 - 0430,14.0,26.5,901436,,TF,FOT,HGRL,14125,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER..."
8954,08/31/2022,Aug,SSA-5820,MSBA-1,RIG,30 Aug 0030 - 0930,4.5,9.0,901519,,RR,FOT,CRN,1414,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...
8955,08/31/2022,Aug,SSA-5892,AWTD-141400,RIG,25 Aug 1330 - 0500,23.5,144.5,901352,,DSF,FOT,STRG,14481,AFTER MAKING CONNECTION PIPE BECAME STUCK

In [24]:
duplicateRows = df_all[df_all.duplicated()]

In [25]:
print(duplicateRows)

     Report Date Month  Rig Name    Well No Company Name       Date and Time  \
6     01/01/2022   Jan   ADC-65L  HRDH-1980          TK3  01 Jan 1930 - 0500
13    01/01/2022   Jan    DPS-45  UTMN-3015          SWL  01 Jan 1115 - 1630
22    01/01/2022   Jan  NBR-783S    MDRK-55          SJS  08 Nov 2045 - 1700
25    01/01/2022   Jan      PN-9    MRJN-91          ARN  01 Jan 1130 - 0500
46    01/02/2022   Jan   ADC-58L   ABHD-170          TK3  02 Jan 2330 - 0500
...          ...   ...       ...        ...          ...                 ...
8901  08/30/2022   Aug  NBR-263S   QTIF-736          NRC  30 Aug 0145 - 0500
8908  08/30/2022   Aug  SINO-37L   HWYH-114          RWC  30 Aug 2100 - 0500
8914  08/30/2022   Aug     SP-58   HRDH-795          RIG  30 Aug 1100 - 1400
8945  08/31/2022   Aug  SINO-37L   HWYH-114          RWC  31 Aug 1130 - 1900
8948  08/31/2022   Aug  SND-1501    HWYH-89          RIG  31 Aug 2330 - 0500

      Time in Hrs  Cummulative Hrs    LT ID Parent LT ID LT Type  Cause  \
6            9.50             9.50   886706                 STUK   STBH
13           5.25             5.25   886709                   TF    FOT
22          12.00           740.75   881720                  BHA    FOT
25          17.50            17.50   886674                   WO   SRVC
46           5.50             5.50   886773                  WON   WTHR
...           ...              ...      ...          ...     ...    ...
8901         3.25             3.25   901518                   TF    FOT
8908         8.00             8.00   901522                   WO   MATL
8914         3.00             3.00   901496                   RR    FOT
8945         7.50             7.50   901549                   TF    FOT
8948         5.50             5.50   901552                   RR    FOT

      Object   Depth                                         LT Summary
6        BHA    6395   STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...
13     CORRL   13228   SLB E-LINE LOST COMMUNICATION WITH CCL, TROUB...
22      JARS    2000   OBSERVED LOSS OF STRING WEIGHT WHILE POOH AFT...
25        NA       0   WAIT ON HSU TO PERFORM SEA BED SURVEY AT MRJN...
46        NA   16437   WAIT ON WEATHER DUE TO HEAVY RAIN, UNABLE TO ...
...      ...     ...                                                ...
8901     CRT     740   OBSERVE NAPESCO CRT HYD HOSES LEAKING, FIX SAME.
8908      NA       0   WHEN SEND DE-SANDER FOUND MISSING OF SURFACE ...
8914   KELLY       0   OBSERVED LEAK IN KELLY HOSE WHILE STANDPIPE P...
8945    WTSE       0   WASH OUT OF HYDRAULIC HOSE BETWEEN ESD CONTRO...
8948    CSYS    6813                   STAND PIPE ISOLATION VALVE LEAK

[663 rows x 15 columns]

This will drop duplicated items.

In [32]:
df_all_drop = df_all.drop_duplicates(keep='first')
df_all_drop

,Report Date,Month,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,01/01/2022,Jan,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10.0,10.0,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...
1,01/01/2022,Jan,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3.0,3.0,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...
2,01/01/2022,Jan,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12.0,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED
3,01/01/2022,Jan,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18.0,18.0,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.
4,01/01/2022,Jan,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951,08/31/2022,Aug,SND-2009,SAHB-101,RIG,31 Aug 2330 - 0100,1.5,1.5,901553,,RR,FOT,TDS,2520,TDS HAS HYDRAULIC OIL LEAK HUGE AMOUNT. HYDRA...
8952,08/31/2022,Aug,SP-125,ANDR-20,EMC,31 Aug 1430 - 2330,9.0,9.0,901441,,MUD,SMDF,SCS,4598,"ATTEMPT TO PUMP, STRING PLUGGED"
8953,08/31/2022,Aug,SSA-303,HRDH-2411,BLH,30 Aug 1630 - 0430,14.0,26.5,901436,,TF,FOT,HGRL,14125,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER..."
8954,08/31/2022,Aug,SSA-5820,MSBA-1,RIG,30 Aug 0030 - 0930,4.5,9.0,901519,,RR,FOT,CRN,1414,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...
8955,08/31/2022,Aug,SSA-5892,AWTD-141400,RIG,25 Aug 1330 - 0500,23.5,144.5,901352,,DSF,FOT,STRG,14481,AFTER MAKING CONNECTION PIPE BECAME STUCK

In [31]:
df_all_drop.to_excel("LT no-duplicates Jan-to-Aug-22.xlsx")