In [54]:
import pandas as pd
import numpy as np

In [82]:
df_aug = pd.read_excel('LOST TIME_Aug_22_clean.xlsx')

In [83]:
duplicateRows = df_aug[df_aug.duplicated()]
print(duplicateRows)

Empty DataFrame
Columns: [seq, Report Date, Rig Name, Well No, Company Name, Date and Time, Time in Hrs, Cummulative Hrs, LT ID, Parent LT ID, LT Type, Cause, Object, Depth, LT Summary]
Index: []

In [128]:
df = pd.read_excel('Lost Time Jan-to-Aug-2022.xlsx')

In [135]:
df.columns

Index(['Report Date', 'Rig Name', 'Well No', 'Company Name', 'Date and Time',
       'Time in Hrs', 'Cummulative Hrs', 'LT ID', 'Parent LT ID', 'LT Type',
       'Cause', 'Object', 'Depth', 'LT Summary'],
      dtype='object')

In [132]:
df['Time in Hrs'] = pd.to_numeric(df['Time in Hrs'].astype('float'))

In [134]:
df['Time in Hrs']

0       10.0
1        3.0
2        4.5
3       18.0
4        9.5
        ...
8951     1.5
8952     9.0
8953    14.0
8954     4.5
8955    23.5
Name: Time in Hrs, Length: 8956, dtype: float64

In [137]:
df['Cummulative Hrs'] = pd.to_numeric(df['Cummulative Hrs'].astype('float'))

In [ ]:
df.to_excel("LT Jan_to_Aug_22.xlsx")

In [8]:
import pandas as pd

In [21]:
df_YTD = pd.read_excel('LT Jan_to_Aug_22_Charts_REV-1.xlsx')

In [29]:
df_YTD = df_YTD.drop(['Seq'],axis=1)

In [30]:
df_YTD

,Report Date,Month,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,01/01/2022,Jan,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10.0,10.0,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...
1,01/01/2022,Jan,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3.0,3.0,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...
2,01/01/2022,Jan,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12.0,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED
3,01/01/2022,Jan,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18.0,18.0,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.
4,01/01/2022,Jan,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951,08/31/2022,Aug,SND-2009,SAHB-101,RIG,31 Aug 2330 - 0100,1.5,1.5,901553,,RR,FOT,TDS,2520,TDS HAS HYDRAULIC OIL LEAK HUGE AMOUNT. HYDRA...
8952,08/31/2022,Aug,SP-125,ANDR-20,EMC,31 Aug 1430 - 2330,9.0,9.0,901441,,MUD,SMDF,SCS,4598,"ATTEMPT TO PUMP, STRING PLUGGED"
8953,08/31/2022,Aug,SSA-303,HRDH-2411,BLH,30 Aug 1630 - 0430,14.0,26.5,901436,,TF,FOT,HGRL,14125,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER..."
8954,08/31/2022,Aug,SSA-5820,MSBA-1,RIG,30 Aug 0030 - 0930,4.5,9.0,901519,,RR,FOT,CRN,1414,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...
8955,08/31/2022,Aug,SSA-5892,AWTD-141400,RIG,25 Aug 1330 - 0500,23.5,144.5,901352,,DSF,FOT,STRG,14481,AFTER MAKING CONNECTION PIPE BECAME STUCK

In [26]:
df_sep = pd.read_excel('LT 09-22_clean_data.xlsx')

In [32]:
df_sep = df_sep.drop(['seq'],axis=1)

In [27]:
df_oct = pd.read_excel('LT 10-22_till_23_clean_data.xlsx')

In [35]:
df_oct = df_oct.drop(['seq'],axis=1)

In [39]:
df_YTD_NEW = df_YTD.append(df_sep)

In [41]:
df_YTD_NEW = df_YTD_NEW.append(df_oct)

In [42]:
df_YTD_NEW.to_excel('LT_1-Jan-to-23-Oct-22.xlsx')

In [43]:
df_YTD_NEW.columns

Index(['Report Date', 'Month', 'Rig Name', 'Well No', 'Company Name',
       'Date and Time', 'Time in Hrs', 'Cummulative Hrs', 'LT ID',
       'Parent LT ID', 'LT Type', 'Cause', 'Object', 'Depth', 'LT Summary'],
      dtype='object')

In [45]:
time_in_hrs = df_YTD_NEW['Time in Hrs']

In [47]:
time_in_hrs = pd.to_numeric(time_in_hrs)

ValueError: Unable to parse string " 17.25" at position 8956

In [52]:
print(type(df_YTD_NEW.iloc[8956][7]))

<class 'str'>

In [53]:
print(type(df_YTD_NEW.iloc[8955][7]))

<class 'float'>

In [55]:
time_in_hrs = time_in_hrs.astype(np.float)

In [60]:
df_YTD_NEW['Time in Hrs'] = pd.to_numeric(df_YTD_NEW['Time in Hrs'].astype('float'))
df_YTD_NEW['Cummulative Hrs'] = pd.to_numeric(df_YTD_NEW['Cummulative Hrs'].astype('float'))

In [56]:
import time


print(type(time_in_hrs))

<class 'pandas.core.series.Series'>

In [57]:
type(time_in_hrs[22])

pandas.core.series.Series

In [61]:
df_YTD_NEW.to_excel('LT_1-Jan-to-23-Oct-22_floats_data.xlsx')