In [1]:
import pandas as pd

In [82]:
df_aug = pd.read_excel('LOST TIME_Aug_22_clean.xlsx')

In [83]:
duplicateRows = df_aug[df_aug.duplicated()]
print(duplicateRows)

Empty DataFrame
Columns: [seq, Report Date, Rig Name, Well No, Company Name, Date and Time, Time in Hrs, Cummulative Hrs, LT ID, Parent LT ID, LT Type, Cause, Object, Depth, LT Summary]
Index: []

In [101]:
df_feb

,SEQ,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,1,02/01/2022,ADC-17,ZULF-1210,RIG,01 Feb 1915 - 2215,3,3,890606,,RR,FOT,CSYS,6470,ATTEMPT TO PT SURFACE LINES ON RIG. OBSERVE L...
1,3,02/01/2022,ADC-42L,UTMN-2319,TK3,24 Jan 1545 - 0500,22.5,197.25,889625,,DRG,WNCA,NA,4889,"ENCOUNTER OBSTRUCTION AT 4,880 FT. TRY TO CLE..."
2,5,02/01/2022,ADC-65L,HRDH-1980,SWL,31 Jan 1415 - 1630,11.5,26.25,890488,,TF,FOT,WLT,11760,THE RESISTIVITY DATA SENT FOR THIS WELL WAS N...
3,7,02/01/2022,ADES-14,HRDH-476,BHI,31 Jan 1600 - 1030,5.5,18.5,890546,,BHA,FOT,MWD,5200,MWD FAILURE (INTERMITTENT PULSER FAILURE).
4,9,02/01/2022,AOD-111,MRJN-726,ARM,22 Jan 1800 - 0500,24,249.75,889152,,TH,NARW,NA,4940,"HELD UP WITH 13-3/8"" CASING AT 4940'. ATTEMPT..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,1696,02/28/2022,STY-038,ZULF-2084,SDM,27 Feb 1430 - 1115,6.25,20.25,892544,,BHA,FOT,RSS,11701,"RSS FAILURE, UNABLE TO BUILD INCLINATION"
915,1697,02/28/2022,T217,UTMN-488,HWP,27 Feb 1430 - 1000,5,19.5,892606,,STUK,HINW,WLT,6710,FPI LOGGIGNG TOOL GOT STUCK @ PAC VALVE DEPTH.
916,1699,02/28/2022,T217,UTMN-488,ARM,22 Feb 0300 - 0500,19,112.5,892373,,STUK,SCSG,LINR,6865,"4-1/2"" OBL GOT STUCK"
917,1700,02/28/2022,T217,UTMN-488,HWP,27 Feb 1430 - 1000,5,19.5,892606,,STUK,HINW,WLT,6710,FPI LOGGIGNG TOOL GOT STUCK @ PAC VALVE DEPTH.
918,1702,02/28/2022,ZPEC-1,HRDH-3543,RIG,28 Feb 1600 - 0100,9,9,892645,,WO,MATL,NA,4075,"OBSERVED LEAKING IN 8"" DISCHARGE LINE, WAIT O..."

In [96]:
df_aug

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,1,08/01/2022,088TE,QTIF-330,WEP,31 Jul 1930 - 0500,24,33.5,900302,,TF,FOT,CPCH,5926,"UNABLE TO RUN 4-1/2"" HALLIBURTON COMPLETION S..."
1,3,08/01/2022,ADC-29,NYYM-100,RIG,01 Aug 0900 - 1100,2,2,900331,,RR,FPMP,MPMP,9336,"WHILE DRILLING OBSERVE PRESSURE DROP, FOUND L..."
2,5,08/01/2022,ADC-31,SDGM-1181,RIG,12 Jul 1930 - 0500,24,444.5,899623,,STUK,STDP,DP,14234,TDS TRIPPED AND LOST RPM CAUSING STUCK PIPE.
3,7,08/01/2022,ADC-41L,SDGM-1244,ARM,19 Jul 0500 - 0500,24,289.5,900095,,LCIR,UVLC,NA,9010,"TOTAL LOSSES AT DEPTH OF 9,010 FT - UNCURABLE..."
4,9,08/01/2022,ADC-43L,UTMN-3118,TK3,30 Jul 0115 - 0500,22.75,50.5,900352,,LCIR,FRFM,NA,12637,WHILE DRILLING LOST COMPLETE RETURNS IN KHUFF...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,3583,08/31/2022,SND-2009,SAHB-101,RIG,31 Aug 2330 - 0100,1.5,1.5,901553,,RR,FOT,TDS,2520,TDS HAS HYDRAULIC OIL LEAK HUGE AMOUNT. HYDRA...
1360,3585,08/31/2022,SP-125,ANDR-20,EMC,31 Aug 1430 - 2330,9,9,901441,,MUD,SMDF,SCS,4598,"ATTEMPT TO PUMP, STRING PLUGGED"
1361,3602,08/31/2022,SSA-303,HRDH-2411,BLH,30 Aug 1630 - 0430,14,26.5,901436,,TF,FOT,HGRL,14125,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER..."
1362,3604,08/31/2022,SSA-5820,MSBA-1,RIG,30 Aug 0030 - 0930,4.5,9,901519,,RR,FOT,CRN,1414,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...
1363,3606,08/31/2022,SSA-5892,AWTD-141400,RIG,25 Aug 1330 - 0500,23.5,144.5,901352,,DSF,FOT,STRG,14481,AFTER MAKING CONNECTION PIPE BECAME STUCK

In [104]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [106]:
df = df.append(df_jan)
df

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary
0,118,01/01/2022,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10,10,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...
1,120,01/01/2022,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3,3,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...
2,122,01/01/2022,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED
3,124,01/01/2022,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18,18,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.
4,125,01/01/2022,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1208,2341,01/31/2022,SSA-46,JAHM-5,ARM,29 Jan 1845 - 0500,24,58.25,890215,,WO,STOP,NA,3790,RIG SHUT DOWN BY GOVT ENVIRONMENTAL GUARDS DU...
1209,2343,01/31/2022,SSA-51,MNIF-254,RIG,31 Jan 0815 - 0930,1.25,1.25,890525,,RR,FOT,DWKS,17948,DRAWWORKS SUDDENLY STOPPED WORKING. REAPAIRED...
1210,2345,01/31/2022,SSA-5859,HWYH-1265,ARM,15 Jan 0030 - 0500,23.5,362.5,888311,,STUK,STBH,BHA,3180,STRING STALLED OUT WHILE BLIND ROTARY DRILLIN...
1211,2347,01/31/2022,SSA-5971,UTMN-2302,RIG,30 Jan 0500 - 1230,7,31,890426,,RR,FOT,CSYS,7240,"DURING DRILLING 16"" HOLE WITH 800GPM THE CIRC..."
1212,2349,01/31/2022,STY-038,ZULF-2083,SRT,31 Jan 0500 - 0500,24,24,890528,,BHA,FOT,STZRM,6070,WHILE TRYING TO FREE PIPE SMITH STABILIZER PA...

In [107]:
df = df.append(df_feb)
df

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary,SEQ
0,118.0,01/01/2022,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10,10,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...,NaN
1,120.0,01/01/2022,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3,3,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...,NaN
2,122.0,01/01/2022,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED,NaN
3,124.0,01/01/2022,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18,18,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.,NaN
4,125.0,01/01/2022,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,NaN,02/28/2022,STY-038,ZULF-2084,SDM,27 Feb 1430 - 1115,6.25,20.25,892544,,BHA,FOT,RSS,11701,"RSS FAILURE, UNABLE TO BUILD INCLINATION",1696.0
915,NaN,02/28/2022,T217,UTMN-488,HWP,27 Feb 1430 - 1000,5,19.5,892606,,STUK,HINW,WLT,6710,FPI LOGGIGNG TOOL GOT STUCK @ PAC VALVE DEPTH.,1697.0
916,NaN,02/28/2022,T217,UTMN-488,ARM,22 Feb 0300 - 0500,19,112.5,892373,,STUK,SCSG,LINR,6865,"4-1/2"" OBL GOT STUCK",1699.0
917,NaN,02/28/2022,T217,UTMN-488,HWP,27 Feb 1430 - 1000,5,19.5,892606,,STUK,HINW,WLT,6710,FPI LOGGIGNG TOOL GOT STUCK @ PAC VALVE DEPTH.,1700.0
918,NaN,02/28/2022,ZPEC-1,HRDH-3543,RIG,28 Feb 1600 - 0100,9,9,892645,,WO,MATL,NA,4075,"OBSERVED LEAKING IN 8"" DISCHARGE LINE, WAIT O...",1702.0

In [108]:
df = df.append(df_mar)
df

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary,SEQ,Seq
0,118.0,01/01/2022,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10,10,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...,NaN,NaN
1,120.0,01/01/2022,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3,3,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...,NaN,NaN
2,122.0,01/01/2022,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED,NaN,NaN
3,124.0,01/01/2022,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18,18,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.,NaN,NaN
4,125.0,01/01/2022,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,NaN,03/30/2022,SSA-29,QTIF-348,HWP,30 Mar 0845 - 1030,1.75,1.75,894389,,TF,FOT,WLTT,1700,HALL E-LINE TOOLS WITH MISS-COMMUNICATION DUE...,NaN,2051.0
1098,NaN,03/30/2022,SSA-5970,HWYH-1257,ARM,08 Mar 0500 - 0500,24,481,893136,,STUK,SDIR,RSS,18680,STRING GOT STUCK WHILE BACK REAMING TIGHT SPO...,NaN,2053.0
1099,NaN,03/30/2022,SSA-5972,JFYN-10,RIG,30 Mar 1430 - 1500,.5,.5,894486,,RR,FOT,DWKS,6655,DRAWWORKS COOLING FAN TRIPPING OFF CAUSING DR...,NaN,2055.0
1100,NaN,03/30/2022,T217,UTMN-488,ARM,22 Feb 0300 - 0500,24,841.5,892373,,STUK,SCSG,LINR,6865,"4-1/2"" OBL GOT STUCK",NaN,2057.0
1101,NaN,03/30/2022,ZPEC-1,HMYM-846,ARM,30 Mar 1000 - 1300,3,3,894508,,WON,WTHR,NA,2450,FOR SAFETY SUSPENDED OPERATIONAL DOU TO SANDS...,NaN,2059.0

In [109]:
df = df.append(df_apr)
df

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary,SEQ,Seq
0,118.0,01/01/2022,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10,10,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...,NaN,NaN
1,120.0,01/01/2022,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3,3,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...,NaN,NaN
2,122.0,01/01/2022,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED,NaN,NaN
3,124.0,01/01/2022,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18,18,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.,NaN,NaN
4,125.0,01/01/2022,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,2246.0,04/25/2022,SSA-5969,UTMN-3021,ARM,23 Apr 2030 - 0500,24,54,895881,,LCIR,UVLC,NA,8585,"HAD COMPLETE LOSSES AT 8,585'",NaN,NaN
1046,2248.0,04/25/2022,SSA-5974,HRDH-1970,ARM,22 Apr 0500 - 0500,24,96,895858,,BHS,CWEL,NA,14884,"BOREHOLE STABILITY PROBLEM BELOW SHOE, RIH W/...",NaN,NaN
1047,2249.0,04/25/2022,T901,JLMN-79,ARM,25 Apr 2330 - 0430,5,5,895943,,WON,WTHR,NA,0,SUSPENDED OPERATION DUE TO STRONG WIND AND HE...,NaN,NaN
1048,2251.0,04/25/2022,T901,JLMN-79,RIG,24 Apr 0430 - 0500,3.75,4.25,895891,,BOP,FOT,BOP,0,LEAKING FROM ANNULAR BOP WEEP HOLE DUE TO OPE...,NaN,NaN
1049,2252.0,04/25/2022,T901,JLMN-79,ARM,25 Apr 2330 - 0430,5,5,895943,,WON,WTHR,NA,0,SUSPENDED OPERATION DUE TO STRONG WIND AND HE...,NaN,NaN

In [110]:
df = df.append(df_may)
df

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary,SEQ,Seq
0,118.0,01/01/2022,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10,10,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...,NaN,NaN
1,120.0,01/01/2022,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3,3,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...,NaN,NaN
2,122.0,01/01/2022,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED,NaN,NaN
3,124.0,01/01/2022,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18,18,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.,NaN,NaN
4,125.0,01/01/2022,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,2819.0,05/31/2022,SSA-5859,HWYH-1222,FMC,31 May 0530 - 0830,3,3,897263,,TF,FOT,CTRQ,5620,"CRT STUCK INSIDE CSG 13 3/8""",NaN,NaN
942,2821.0,05/31/2022,T218,UTMN-1281,EMC,31 May 0945 - 0500,19.25,19.25,897268,,STUK,IPDF,DC,7294,STUCK PIPE WHILE WASH-UP,NaN,NaN
943,2822.0,05/31/2022,T902,HZEM-162404,ARM,31 May 0715 - 0500,21.25,21.25,897254,,STUK,PSSW,NA,8708,WHILE BACK REAMING OOH STRING BECAME STUCK,NaN,NaN
944,2824.0,05/31/2022,T902,HZEM-162404,SDM,30 May 0630 - 0715,2.25,22.25,897134,,DD,UDWL,RSS,13416,SLB NEO STEER COULDEN'T HOLD REQIURED INCLINA...,NaN,NaN
945,2825.0,05/31/2022,T902,HZEM-162404,ARM,31 May 0715 - 0500,21.25,21.25,897254,,STUK,PSSW,NA,8708,WHILE BACK REAMING OOH STRING BECAME STUCK,NaN,NaN

In [111]:
df = df.append(df_jun)
df

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary,SEQ,Seq
0,118.0,01/01/2022,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10,10,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...,NaN,NaN
1,120.0,01/01/2022,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3,3,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...,NaN,NaN
2,122.0,01/01/2022,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED,NaN,NaN
3,124.0,01/01/2022,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18,18,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.,NaN,NaN
4,125.0,01/01/2022,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,110.0,06/21/2022,SP-110,1,ARM,21 Jun 1215 - 1315,BRRI-562,1,898657,,STUK,STBH,BHA,16745,WHEN WASHING UP AT KELLY DOWN STRING GOT STUC...,NaN,NaN
1175,111.0,06/21/2022,SSA-101,1.5,SDM,21 Jun 0530 - 0700,QTIF-785,1.5,898633,,BHA,FOT,MWD,16910,"NO SDM MWD SIGNAL, SDM TROUBLE SHOOTING TO GE...",NaN,NaN
1176,113.0,06/21/2022,SSA-101,2.5,SPS,19 Jun 1330 - 0900,QTIF-785,42,898508,,BHA,FOT,RSS,9795,SPS RSS GIVING WRONG VALUES AT MID WAY TOOL C...,NaN,NaN
1177,114.0,06/21/2022,SSA-101,1.5,SDM,21 Jun 0530 - 0700,QTIF-785,1.5,898633,,BHA,FOT,MWD,16910,"NO SDM MWD SIGNAL, SDM TROUBLE SHOOTING TO GE...",NaN,NaN
1178,116.0,06/21/2022,WCL-83,23.5,RIG,21 Jun 0530 - 0500,MRJN-834,23.5,898656,,STUK,STCT,SCRN,11680,WORK ON STUCK COMPLETION STRING BY DIFFERENT ...,NaN,NaN

In [113]:
df = df.append(df_juL)
df

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary,SEQ,Seq
0,118.0,01/01/2022,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10,10,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...,NaN,NaN
1,120.0,01/01/2022,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3,3,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...,NaN,NaN
2,122.0,01/01/2022,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED,NaN,NaN
3,124.0,01/01/2022,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18,18,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.,NaN,NaN
4,125.0,01/01/2022,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,2742.0,07/31/2022,SP-258,JNAB-872212,SDM,30 Jul 1945 - 0500,24,33.25,900327,,BHA,FOT,LWD,10515,GR IS READING FINE IN THE BEAGGING THEN START...,NaN,NaN
1179,2744.0,07/31/2022,SSA-101,QTIF-785,SDM,28 Jul 0330 - 1945,14.75,64.25,900288,,BHA,FOT,LWD,22626,"SDM LWD RESISTIVITY TOOL LOST SIGNAL, TROUBLE...",NaN,NaN
1180,2746.0,07/31/2022,SSA-5859,HWYH-1222,RIG,31 Jul 1900 - 2000,1,1,900357,,RR,FOT,SLIPS,0,DELAY IN OPERATIONS DUE TO DRIFT STUCK INSIDE...,NaN,NaN
1181,2748.0,07/31/2022,SSA-5891,HRDH-1205,RIG,31 Jul 1330 - 1615,1.25,1.25,900355,,RR,FOT,TDS,11450,"LOST ROTARY ON TOPDRIVE, ELCTRICIAN/MECHANIC ...",NaN,NaN
1182,2750.0,07/31/2022,SSA-5917,HRDH-2201,XLG,29 Jul 2015 - 0500,24,56.75,900301,,TF,FOT,MLOG,10955,AT 10955' ENCOUNTER PARTIAL LOSS ( 90BBLS/H ...,NaN,NaN

In [114]:
df = df.append(df_aug)
df

,seq,Report Date,Rig Name,Well No,Company Name,Date and Time,Time in Hrs,Cummulative Hrs,LT ID,Parent LT ID,LT Type,Cause,Object,Depth,LT Summary,SEQ,Seq
0,118.0,01/01/2022,ADC-16,JAHM-6,RIG,01 Jan 1900 - 0500,10,10,886676,,RR,FOT,TDS,0,TDS TRIPPED DUE TO GROUND FAULT. TROUBLESHOOT...,NaN,NaN
1,120.0,01/01/2022,ADC-32,SDGM-1139,RIG,01 Jan 2100 - 0000,3,3,886710,,RR,FOT,EDR,5530,WATER OF THE RAINS LEAKED THROUGH THE ROOF OF...,NaN,NaN
2,122.0,01/01/2022,ADC-34,UTMN-2317,FMC,27 Dec 1930 - 0500,4.5,12,886267,,TF,FOT,CTRQ,320,JAM UNITS (MAIN & BACK UP ) FAILED,NaN,NaN
3,124.0,01/01/2022,ADC-60,ABSF-215,SDM,01 Jan 0800 - 0330,18,18,886686,,BHA,FOT,MWD,6365,FAILED TO COMMUNICATE WITH SLB MWD TOOLS.,NaN,NaN
4,125.0,01/01/2022,ADC-65L,HRDH-1980,TK3,01 Jan 1930 - 0500,9.5,9.5,886706,,STUK,STBH,BHA,6395,STRING GET STUCK IN OPEN HOLE AFTER MAKING TH...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,3583.0,08/31/2022,SND-2009,SAHB-101,RIG,31 Aug 2330 - 0100,1.5,1.5,901553,,RR,FOT,TDS,2520,TDS HAS HYDRAULIC OIL LEAK HUGE AMOUNT. HYDRA...,NaN,NaN
1360,3585.0,08/31/2022,SP-125,ANDR-20,EMC,31 Aug 1430 - 2330,9,9,901441,,MUD,SMDF,SCS,4598,"ATTEMPT TO PUMP, STRING PLUGGED",NaN,NaN
1361,3602.0,08/31/2022,SSA-303,HRDH-2411,BLH,30 Aug 1630 - 0430,14,26.5,901436,,TF,FOT,HGRL,14125,"MECHANICAL FAILURE OF SLIPS 4-1/2"" X 7"" BAKER...",NaN,NaN
1362,3604.0,08/31/2022,SSA-5820,MSBA-1,RIG,30 Aug 0030 - 0930,4.5,9,901519,,RR,FOT,CRN,1414,RIG CRANE BROKE DOWN. UNABLE TO LAYDOWN BHA C...,NaN,NaN
1363,3606.0,08/31/2022,SSA-5892,AWTD-141400,RIG,25 Aug 1330 - 0500,23.5,144.5,901352,,DSF,FOT,STRG,14481,AFTER MAKING CONNECTION PIPE BECAME STUCK,NaN,NaN

In [128]:
df = pd.read_excel('Lost Time Jan-to-Aug-2022.xlsx')

In [135]:
df.columns

Index(['Report Date', 'Rig Name', 'Well No', 'Company Name', 'Date and Time',
       'Time in Hrs', 'Cummulative Hrs', 'LT ID', 'Parent LT ID', 'LT Type',
       'Cause', 'Object', 'Depth', 'LT Summary'],
      dtype='object')

In [132]:
df['Time in Hrs'] = pd.to_numeric(df['Time in Hrs'].astype('float'))

In [134]:
df['Time in Hrs']

0       10.0
1        3.0
2        4.5
3       18.0
4        9.5
        ...
8951     1.5
8952     9.0
8953    14.0
8954     4.5
8955    23.5
Name: Time in Hrs, Length: 8956, dtype: float64

In [137]:
df['Cummulative Hrs'] = pd.to_numeric(df['Cummulative Hrs'].astype('float'))

In [ ]:
df.to_excel("LT Jan_to_Aug_22.xlsx")

In [140]:
df['Cummulative Hrs']

0        10.0
1         3.0
2        12.0
3        18.0
4         9.5
        ...
8951      1.5
8952      9.0
8953     26.5
8954      9.0
8955    144.5
Name: Cummulative Hrs, Length: 8956, dtype: float64